[2021-08-24 01:05] mcuee commented on #384
No it is not true that the default example will work without debugging when it comes to libusb and pyusb. You have to play your part as well. As mentioned before, please follow the following steps in debugging.

1) print out "lsusb -vvv" about your device under Linux

2) set environment variable PYUSB_DEBUG='debug' or use the following codes, then post the debug log.
https://github.com/pyusb/pyusb

[2021-08-24 01:08] mcuee commented on #384
This is my guess but you need to debug by yourself.

1) for Windows, you install WinUSB driver. In that case, you have to use libusb-1.0 backend. In that case, you have to put libusb-1.0.dll in the right place.
https://github.com/pyusb/pyusb/blob/master/docs/faq.rst#how-do-i-install-libusb-on-windows

2) under Linux, the kernel cdc-acm driver is claiming the device, you have to detach the driver.

[2021-08-24 02:09] mcuee commented on #384
Actually once you print out the "lsusb -vvv" and you may find the issues. CDC-ACM devices have two interfaces. In the case of your device,  I believe the OUT endpoint will reside at interface 1 and not interface 0. So you will not able to find it.

[2021-08-24 02:16] jonasmalacofilho commented on #383
The use of hexadecimal literals is just a convention used when dealing with USB IDs.  You are absolutely free to ignore it, as long as the integer value has the correct value, regardless of the base used for the literal.

Also, there's no way in Python to differentiate between `0x01` and `1`: both are simply integer literals with the value, in base 10, one.

[2021-08-24 02:24] jonasmalacofilho commented on #200
Aren't you just missing another `cfg = dev.get_active_configuration()` after setting the configuration, in the case the device wasn't already configured (and, thus, `cfg == None`)?

[2021-08-24 02:31] mcuee commented on #384
I have an Arduino Leonardo (0x2341, 0x8036) and here is the test code and run log under Windows.

[code]

[2021-08-24 02:32] jonasmalacofilho commented on #384
@artisticfox8,

I can't see any issue with the [getting started example](https://github.com/pyusb/pyusb/blob/master/docs/tutorial.rst#lets-get-it-started).  It even suggests the use of hexadecimal literals when dealing with USB IDs, which was one of your concerns.

No matter what example we use, it can only really work with a handful of devices: knowing and following the protocol expected by the p

[2021-08-24 02:32] #384 closed

[2021-08-24 02:46] jonasmalacofilho commented on #379
I partially agree: they can indeed act as a deterrent.  But I think that can be managed/tuned.

What I suggest is something fairly light/relaxed, where there's even still an option opt out of the templates.  Something like what I have in [liquidctl](https://github.com/liquidctl/liquidctl/issues/new?assignees=&labels=bug&template=bug_report.md), but obviously adapted to our needs (mention the faq/t

[2021-08-24 02:49] jonasmalacofilho commented on #64
@mcuee I don't see why this issue needs to be pinned.

[2021-08-24 02:51] jonasmalacofilho commented on #63
@mcuee I don't see why this issue needs to be pinned.  While we may want to work on this soon, my opinion is that issues should only be pinned for the benefit of users, and we don't have that many of them hitting this limitation.

[2021-08-24 02:53] mcuee commented on #63
Okay, un-pin it.

[2021-08-24 02:56] mcuee commented on #379
Okay, un-pin this one.

Your suggestion is good. I have no objections with a light template.

[2021-08-24 02:56] mcuee commented on #64
I agree. Just unpin it.

[2021-08-24 02:57] mcuee commented on #379
In this case, I will close this issue.

[2021-08-24 02:57] #379 closed

[2021-08-24 03:08] mcuee commented on #200
Good point. Somehow I forgot that simple point (my Python and C skills are really basic). So yes it will work with the quick hack.
[code]

Run log:
[code]

[2021-08-24 03:18] mcuee commented on #379
BTW, I have added the following simple patch to the FAQ. I find this to be a common issue for Windows users.
https://github.com/pyusb/pyusb/commit/67550ed625e4252c0d586dd8ed5de681f4ad4edc

[2021-08-24 03:42] mcuee commented on #200
And for those who want to try, how do you know if your device is supported by usbdk? Run the 'UsbDkController.exe -n' command to enumerate the USB devices with usbdk filter driver attached.

[code]

[2021-08-24 05:15] mcuee commented on #235
Maybe this is the way to go as it is more generic and not depending on hardware.

Hardware specific things can be added as examples if needed.

[2021-08-24 05:22] mcuee commented on #181
This seems to work fine.

[code]

[2021-08-24 08:14] mcuee commented on #384
@artisticfox8 Just using your Arduino program, then actually 'ep.write()' can work as well.

[code]

Rung log under Windows 10 (with WinUSB driver to replace the original USB Composite Device driver) with Arduino Leonardo.
[code]

[2021-08-24 11:32] mcuee commented on #384
Solution for Android: https://github.com/pyserial/pyserial/issues/428

I just test this using my Android phone and Arduino Leonardo, it works fine with your Arduino example.
https://github.com/jacklinquan/usbserial4a

Follow the guide to install pydroid and then use pip to install usbserial4a. Then use the following example.
https://github.com/jacklinquan/usbserial4a/blob/master/example/usbserial4

[2021-08-24 11:58] artisticfox8 commented on #384
Here is lsusb -vvv (after setting the environment variable):
[code]
Thanks for being friendly and patient with me!

[2021-08-24 12:05] artisticfox8 commented on #384
usb.core.USBError: [Errno 16] Resource busy

Here is the log:
[code]

[2021-08-24 12:36] artisticfox8 commented on #384
Even after I created `/etc/modprobe.d/blacklist` and set the contents to `blacklist cdc-acm` (as suggested here https://stackoverflow.com/questions/48650539/prevent-cdc-acm-driver-from-loading-device). I get usb.core.USBError: [Errno 16] Resource busy when I run the file.

[2021-08-24 12:38] artisticfox8 commented on #384
This is the log when I ran your python script (I modified the vendorID and deviceID so the device was found)

[2021-08-24 13:38] mcuee commented on #384
As mentioned, you have to detach the kernel driver under Linux and you may also need to set the right permission by using udev rules (or you can run as sudo). You have to carry out this debug by yourself.

[2021-08-24 14:02] mcuee commented on #384
Tip here:
Manual driver binding and unbinding
https://lwn.net/Articles/143397/

[2021-08-24 14:19] mcuee commented on #384
Once you have got the kernel driver detached and have the right permission, you do not need to use sudo and it will work.

[code]

[2021-08-24 20:00] artisticfox8 commented on #384
Ok so I've tried number 2, didn't work. Number 1 works. However I get:
[code]

[2021-08-24 21:00] fake-name commented on #181
I mean, yeah, but my point was stick that on github pages or something.

[2021-08-25 01:43] mcuee commented on #384
That is normal. As mentioned in the early comments, 'ep.write()' call is not guaranteed to work and the device may not understand the command.

What you need to do is to understand the device communication protocol. In this case, there are two ways.

1) The FW is open Atmaga16U2 or Atmega8U2 is used with CDC-ACM FW is acting as the USB to serial chip in your  Arduino Mega 2560. So you can read the

[2021-08-25 07:19] mcuee commented on #181
But there are many broken links in the generated HTML files. So it does not seem to be a simple task.

[2021-08-25 10:45] artisticfox8 commented on #384
Thanks for your reply! I've tested the python android library you linked and it works nicely! I think I'll use that for now, but thanks for the other links you posted, I appreciate it. Thanks again! If I ever meet you in person, I'll buy you a beer!

[2021-08-25 11:37] mcuee commented on #384
Glad that you have got the Python Android library working with your device.

[2021-09-01 01:27] mcuee commented on #200
Some discussions here as well.
https://github.com/vpelletier/python-libusb1/issues/75

[2021-09-13 02:26] mcuee commented on #235
For those who wat to look at using python for creating Linux USB gadgets using functionfs, you can look at this: https://github.com/vpelletier/python-functionfs/issues/20

Other ways:
1) Using shell scripts with configfs: https://wiki.tizen.org/USB/Linux_USB_Layers/Configfs_Composite_Gadget
2) using gt with configfs: https://github.com/linux-usb-gadgets/gt

[2021-09-13 03:04] mcuee commented on #285
Not so sure if the patched libusb version will help. I will try it under Termux and unrooted Android.

Ref: https://github.com/green-green-avk/AnotherTerm-scripts/blob/master/install-patched-libusb-1.0.23.sh

[2021-09-13 04:54] mcuee opened #386 "Add libusb_wrap_sys_device()"
This is useful for Linux and Android. It is also discussed in https://github.com/pyusb/pyusb/issues/285.

https://libusb.sourceforge.io/api-1.0/group__libusb__dev.html#ga98f783e115ceff4eaf88a60e6439563c
Must call libusb_set_option(NULL, LIBUSB_OPTION_WEAK_AUTHORITY) or before libusb_init if don't have authority to access the usb device directly.

[2021-09-13 04:57] mcuee opened #387 "Add libusb_set_auto_detach_kernel_driver()"
https://libusb.sourceforge.io/api-1.0/group__libusb__dev.html#gac35b26fef01271eba65c60b2b3ce1cbf

Enable/disable libusb's automatic kernel driver detachment. When this is enabled libusb will automatically detach the kernel driver on an interface when claiming the interface, and attach it when releasing the interface.

Automatic kernel driver detachment is disabled on newly opened device handles by

[2021-09-13 04:58] mcuee commented on #386
Discussion in python-libusb1: https://github.com/vpelletier/python-libusb1/issues/37#issuecomment-917254409

[2021-09-13 05:16] mcuee commented on #386
BTW, there is the New NO_DEVICE_DISCOVERY option to replace WEAK_AUTHORITY option.
https://github.com/libusb/libusb/commit/5c89594f64ed5a14470d9965e558fd9aee1fd42c

[2021-09-16 02:04] mcuee commented on #235
With dummy_hcd, I think python-functionfs can be a powerful tool to create test device on Linux machine (even without the dedicated usb device controller) as dummy_hcd is emulated and you can use your normal Linux PC.

[2021-09-21 03:06] EduardoNigro opened #388 "Detaching kernel in Windows 10 (using libusb0)"
Hello,

Will it ever be possible to disconnect my USB device using **_detach_kernel_driver()_**?
 **_pyusb_** is installed on a Windows 10 platform using libusb0 (installed with Zadig)

I can send and receive commands to the device. However, I cannot disconnect the device in a graceful way. Only by physically disconnecting the USB cable.

Finally, I used to code for this particular device using MA

[2021-09-23 11:43] mcuee commented on #388
No it is not possible to detach the kernel driver under Windows.

What do you mean by disconnect the device?

And for HID device, it is recommended you use HIDAPI (and cython-hidapi Python binding) under Windows. It is not recommended to use pyusb. How do you disconnect the device with hidapi and its Java binding)?

[2021-09-23 19:41] ap-- opened #389 "Advice for debugging a communication issue when using pyusb"
Hi @jonasmalacofilho and @mcuee,

I'm using pyusb in my spectrometer library [python-seabreeze](https://github.com/ap--/python-seabreeze) and a user reported an issue where communication with a specific spectrometer model via pyusb works on Windows, but fails on Linux.
Another different type of spectrometer works on both of the user's operating systems, so we can rule out some library installation

[2021-09-23 19:41] ap-- opened #390 "Advice for debugging a communication issue when using pyusb"
Hi @jonasmalacofilho and @mcuee,

I'm using pyusb in my spectrometer library [python-seabreeze](https://github.com/ap--/python-seabreeze) and a user reported an issue where communication with a specific spectrometer model via pyusb works on Windows, but fails on Linux.
Another different type of spectrometer works on both of the user's operating systems, so we can rule out some library installation

[2021-09-23 19:49] ap-- commented on #389
oh it seems github created the issue twice... closing this

[2021-09-23 19:49] #389 closed

[2021-09-23 23:14] EduardoNigro commented on #388
Bummer.

Okay, so let me answer you last question first. And please bear with me since I only know so much (or so little) about USB communication. After the MATLAB package is installed (in order to communicate with the LEGO EV3 device), two files seem to be used in the communication class: **_hidapi-1.1.jar_** and **_mwhidapi.class_**.

The USB communication class constructor method looks somethin

[2021-09-24 01:54] mcuee commented on #388
For HID devices, libusb project recommends using HDIAPI, therefore pyusb is not recommended and you should use cython-hidapi. You can raise the issue to cython-hidapi or HIDAPI project.
https://github.com/libusb/libusb/wiki/FAQ#Does_libusb_support_USB_HID_devices

[2021-09-24 01:57] mcuee commented on #388
The libusb0 backend is not really recommended and you should give libusb-1.0 backend a try. You need to download libusb Windows binary from here and put libusb-1.0.dll to get pyusb working with libusb-1.0 backend.
https://github.com/libusb/libusb/releases

However, in that case, please do not use libusb0.sys device driver, rather you should try first with the default HID driver since  libusb-1.0 W

[2021-09-24 02:01] mcuee commented on #388
Anyway, back to pyusb if you still want to use pyusb.

What do you mean by that? What is your pyusb code? It should work based on what you say.

[2021-09-24 02:43] mcuee commented on #390
I will recommend using wireshark to capture the low level USB traffic. It uses usbmon capability of the Linux kernel. I suspect it to be a kernel USB host controller issue.
https://www.kernel.org/doc/html/latest/usb/usbmon.html

[2021-09-24 02:50] mcuee commented on #390
If possible, please ask the user to try a different Linux distribution to see if he can still reproduce the issue or not.

The first post seems to indicate a Raspberry Pi host. In that case, it should be not so difficult to use another Linux distro by popping in another MicroSD card.
https://github.com/ap--/python-seabreeze/issues/133#issue-1001304371

[2021-09-24 02:58] mcuee commented on #388
I think I understand your issue already.

Your other software is using the default Windows HID driver. So when you switch to libusb0.sys driver, you will not be able to use the other dsoftware as that software relies on native Windows HID API.

When you use HIDAPI or its Java bindings, you will not need to switch driver (as it still uses native Windows HIDAPI). Therefore the other software will of

[2021-09-24 03:50] EduardoNigro commented on #388
YES!

YES!

Okay.
**For solution 1:** When I download and extract the libusb-1.0 files, there are a few folders containing the **_libusb-1.0.dll_**. Which one I should get it from (I presume MinGW32?) and where should I place it (System32?). Do I need to use Zadig for the driver installation?
**For solution 2:** I'll collect some more info and raise the issue with the cython-hidapi folk.

But stil

[2021-09-24 04:19] mcuee commented on #388
No need to use Zadig. But rather you have to revert the action by Zadig and go back to the original Windows HID driver. You can do that with Windows Device Manager.
https://github.com/pbatard/libwdi/wiki/FAQ#Help_Zadig_replaced_the_driver_for_the_wrong_device_How_do_I_restore_it

As for the libusb-1.0.dll file, for 64bit Python, please use the one from "libusb-1.0.24\MinGW64\dll" or "libusb-1.0.24

[2021-09-24 04:24] mcuee commented on #388
As for the different between pyusb and cython-hidapi, I am not that familiar with cython-hidapi (I am however relatively familar with HIDAPI). I believe Windows HID API is more limited and may be more stringent with regard to your codes.

HID API will talk in terms of reports. You need to use Input/Output/Feature report to talk to the device. You can say it is higher level API compare to libusb (t

[2021-09-24 04:31] mcuee commented on #388
I will close this issue as there is no issue with pyusb in this case.

[2021-09-24 04:31] #388 closed

[2021-09-24 12:55] EduardoNigro commented on #388
Thank you for all the tips Sir!
Time for me to go pester the Cython-Hidapi guy ;)

[2021-09-26 11:09] ap-- commented on #390
Thank you so much for the quick reply.
So we now have logs for:

❌  &nbsp; Raspberry Pi (I assume running Raspbian) [libusb v1.0.22.11312]: https://github.com/ap--/python-seabreeze/issues/133#issuecomment-926631864
❌  &nbsp; Virtual Machine with Ubuntu [libusb v1.0.24.11584]: https://github.com/ap--/python-seabreeze/issues/133#issuecomment-926065589
✅  &nbsp; Windows [libusb v1.0.24.11584]: https:

[2021-09-27 19:59] ap-- commented on #390
We do have packet captures for windows and from the vm now: https://github.com/ap--/python-seabreeze/files/7237325/pcap_files.zip
But I'm not sure what I would need to be looking for specificly.

We also tried to increase the read timeout, but the issue persistet.

Thanks again for your help,
Cheers
Andreas :blush:

[2021-09-28 01:57] mcuee commented on #390
Unfortunately the capture does not tell much. The first bulk-in failed under Linux. I will suggest you ask in linux-usb mailing list to get better help.
http://vger.kernel.org/vger-lists.html#linux-usb

[code]

[2021-09-28 06:17] ap-- commented on #390
Thank you so much for your help @mcuee
I'll go and ask the `linux-usb` mailing list then.
In the meantime I will close this issue, and report back with whatever I find out.

Thanks again,
Andreas :smiley:

[2021-09-28 06:17] #390 closed

[2021-09-28 10:55] tronchama opened #391 "Can't change configuration: [Errno 16] Resource busy"
Bear with me a second, I know there has been lots of "Resource busy" issues in this project and the Internet, namely Stack Overflow, is also full to the brim with them. Nevertheless, I'd still need some help here because I'm genuinely lost.

My code is as follows and its objective is simple: Check which configuration is this device configured on currently and change it to the second one. The speci

[2021-09-28 14:33] jonasmalacofilho commented on #391
Hi!

This seems to be a tricky one...  so starting slow with the couple of things I noted:

So far this makes sense: if there is no kernel driver active for that interface, `libusb_detach_kernel_driver()` will return `LIBUSB_ERROR_NOT_FOUND` ([aka](https://github.com/pyusb/pyusb/blob/67550ed625e4252c0d586dd8ed5de681f4ad4edc/usb/backend/libusb1.py#L108) "Entity not found").

Well, assuming a scenar

[2021-09-29 03:12] mcuee commented on #391
@tronchama
It is interesting that the C code works. It is using libusb 0.1 API. What is the OS you are testing with? Is it Ubuntu/Debian with legacy libusb-0.1? Or other distro with libusb-compat-0.1?

It has an interesting but strange usb_reset() before usb_set_configuration().
[code]

[2021-09-29 08:35] tronchama commented on #391
@mcuee
I'm using Ubuntu 20.04, it's my main OS. I installed libusb-0.1 via aptitude so *I guess* it's the legacy version.
Funnily enough, this C doesn't work without that cheeky `usb_reset()`.
`dmesg` logs without that reset:
[code]
`dmesg` logs with that reset:
[code]
Just for fun I tried adding that same reset to my Python code and the result is the same (busy error), although with a different `

[2021-09-29 13:30] jonasmalacofilho commented on #391
Regarding `usbfs`, it is what libusb0/libusb1 use to access devices from user-space.

[2021-09-29 14:32] tronchama commented on #391
Just out of curiosity I followed both executions with `strace` and saw that C's `usb_reset(udev);` is actually a call to `ioctl(fd, USBDEVFS_RESET, 0)`, which makes sense.
Since the C script is currently functional, I tried imitating it using a `ioctl` call in my Python script instead of the standard `dev.reset()`, plus adding the `dev.set_configuration(2)` right after it, _a la C_. This is the co

[2021-09-29 14:42] jonasmalacofilho commented on #391
`usb_modeswitch` uses libusb as well (from C) so this problem doesn't appear to be specific to PyUSB.

Agreed.

Since it doesn't appear to be specific to PyUSB, and we also don't have a good way to debug this, I think I'm going to close the issue.

[2021-09-29 14:43] #391 closed

[2021-09-29 15:54] tronchama commented on #391
Thanks a lot for your time.

[2021-09-30 02:20] mcuee commented on #391
@tronchama

As already mentioned by Jonas, it does not seem to be related to pyusb, but rather libusb-1.0 related, since usb_modeswitch also does not work, yet legacy libusb-0.1 works.

You may want to try out two things.
1) force using the legacy libusb-0.1 backend with pyusb. This may or may not work.
2) You are using libusb-1.0.23, maybe you want tp upgrade libusb to 1.0.24 or even latest git t

[2021-09-30 09:32] tronchama commented on #391
@mcuee

I tried and it didn't work, sadly.

Will definitely try this out, thanks a lot.

[2021-10-12 05:37] gsegria opened #392 "SCSI command or ioctl pass-through vendor command"
Hi all,

Does pyusb support usb ioctl vendor command?

[2021-10-12 13:25] jonasmalacofilho commented on #392
@mcuee, I'm not familiar with these areas... can you take this one?

---

If I had to guess, and because PyUSB wraps libusb, it should generally be possible to create pretty much any USB request that is wanted, including any SCSI commands at the USB level.

On the other hand, since a generic driver is used to access the device (e.g.`usbfs`) instead of the appropriate class specific driver (e.g. fo

[2021-10-12 19:19] rc14193 opened #393 "Libusb1 entity not found error"
I am having an issue with libusb1 backend throwing an entity not found error. I'm using 64 bit Windows 10 Version	10.0.19042 Build 19042 with 32 bit python 3.9.7 and pyusb version 1.2.1. I am constrained to the legacy usb. When I use usb.core.find(find_all=True) I do not run into this issue. I have included my logging output below.

[code]

[2021-10-13 03:44] gsegria commented on #392
I use Ubuntu(Linux) to develop python script.
So , i want to write/read USB vendor command via pyusb.
When uses USB vendor command access device , needs to use SCSI Command Descriptor Block.

Any examples for scsi access in pyusb ?

[2021-10-13 06:56] mcuee commented on #392
You should be able to translate the xusb.c example into pyusb. I will close this issue for now.

[2021-10-13 06:56] #392 closed

[2021-10-13 06:57] mcuee commented on #392
Another example: ST-Link v1 libusb example.
https://github.com/stlink-org/stlink/blob/develop/src/stlink-lib/sg.c

[2021-10-15 02:56] sy211015 opened #394 "get_string raise error "The device has no langid " and get_langids raise error Entity not found"
I have tried to get serialNumber of camera device with usb.util.get_string, but it throw an error.
I have included my code and log below.

And I can see the serialNumber string with usbView.exe.

64 bit Windows 10 Version 21H1(OS build 19043.1288)
64bit Python 3.9.5
pyusb 1.2.1(pip install)
libusb 1.0.23b7(pip install)

from os import path
import usb.backend.libusb1
import usb.core
import usb.util

[2021-10-15 12:16] #393 closed, assigned to nobody

[2021-10-25 23:50] harryCM opened #395 "vcp_terminal.py could not find a USB device"
I am a 1st-time user of this package. I installed the package from the zip file on a Raspberry Pi 3 (Linux raspberrypi 5.10.63-v7+ #1457 SMP). I connect a USB device to the board. The device must be recognized properly because lsusb command shows:

[code]
Thanks a lot!

[2021-10-27 02:21] #395 closed, assigned to nobody

[2021-10-30 15:48] Gestas commented on #331
I have some cycles to work on this. @jonasmalacofilho, I can implement this per your suggestion ^^^.

The outstanding question is where to source the data on Darwin and Windows. I can't find a path forward beyond including the usb.ids database in this package as per my comment, https://github.com/pyusb/pyusb/issues/331#issuecomment-703841763. I am open to other options, suggestions?

[2021-10-31 03:36] jonasmalacofilho commented on #331
I can't either, although @mcuee is probably right that there should be some way for our API users to specify their own databases.  So, we read the database from:

- the system, assuming the usual paths (Linux and most Unix-like systems);
- a copy shipped with PyUSB (maybe only from Windows & Mac OS wheels);
- an explicitly specified path.

One remaining question is whether the end users should be

[2021-10-31 04:48] mcuee commented on #331
I think the above should be good enough, especially since the idea is to have regular pyusb release.

For macOS, I use homebrew and it does have a formulae for usb.ids.
https://formulae.brew.sh/formula/usb.ids

Same for Mac Ports.
https://ports.macports.org/port/usbids/

[2021-11-01 16:02] Gestas commented on #331
In order of default priority -

1. If supplied, a user specified path.
2. The system, assuming the usual paths. I'll include the paths Brew and Mac Ports use.
3. The copy shipped with PyUSB.

I'll provide a way for a user to override the defaults.

For 1; Any preferences on environment variable name? Should we fail forward or exit if a path is specified but there isn't a valid file there?

[2021-11-01 17:49] jonasmalacofilho commented on #331
I think the order should be:

0. [possible future addition:] path specified by the _end_ user, probably via an environment variable
1. path specified by the PyUSB _(API)_ user/caller, through the API itself;
2. the system, assuming the usual paths;
3. the copy shipped with PyUSB.

But it seems that mcuee agrees with me that 0 is not necessary, at least not yet.

Additionally, I don't think we shou

[2021-11-02 15:45] Gestas commented on #331
@jonasmalacofilho got it, I'll work on this.

[2021-11-03 01:53] mcuee commented on #331
I agree. Thanks.

[2021-11-08 22:00] q3w3e3 opened #396 "Segmentation fault in WSL"
while im aware that WSL has limited (or a complete lack of?) usb support I have been attempting to use pyVISA for a non USB device but am running into a segfault when pyUSB is run on WSL see [this issue](https://github.com/pyvisa/pyvisa/issues/634)

Versions:

win 10
Ubuntu 20.04.3 LTS (GNU/Linux 4.4.0-19041-Microsoft x86_64)
Python 3.8.10
pyusb==1.0.2

Steps to reproduce:

see above linked issue

[2021-11-08 22:03] jonasmalacofilho commented on #396
Well, let's take a look...

First, please use PyUSB 1.2.1 or git HEAD.

Second, try running with `PYUSB_DEBUG=debug LIBUSB_DEBUG=4` and let me take a look at the complete output.

[2021-11-08 22:09] q3w3e3 commented on #396
1.2.1

doesnt segfault! (my bad running an out of date version)

[code]

[2021-11-08 22:12] q3w3e3 commented on #396
and the debug output using the old version of pyusb:

[code]

[2021-11-08 22:18] jonasmalacofilho commented on #396
No worries...

Now you need to check whether there's something easy you can do for libusb1 to work under WSL.

I suppose you could also try libusb0 or openusb, although that's unlikely.

Oh, this was fixed in 1.1.0 (#232, PR #279).

[2021-11-08 22:20] q3w3e3 commented on #396
afaik libusb will not work in wsl, thanks! having no segfault post PR 279 should let me fix the issues i was running into in pyvisa.

[2021-11-08 22:20] #396 closed

[2021-11-20 23:27] mellow-hype commented on #355
For anyone else still having this issue, I manage python installations with pyenv and installed libusb with homebrew and was having this issue as well. I was finally able to resolve the issue by creating a new symlink in `/opt/homebrew/lib/` named `libusb.dylib` linked to the existing link created by homebrew.

[code]

It seems the expected file name is `libusb.dylib`.

[2021-11-23 01:45] ahakobyan79 opened #397 "Issue with dev.reset()"
Trying to create a simple listener to USB signals. Here is my code:
[code]

When I run this, I get this error message:

[code]

I can't figure out what's causing it. Please help.

[2021-11-23 01:50] ahakobyan79 commented on #397
To provide more info:
I am running the code on a Proxmox Container with Ubuntu 20.04.
I do see the device when run: lsusb
If the device was not really connected, it would not get to the dev.reset() line.

[2021-11-23 03:52] jonasmalacofilho commented on #397
This is expected behavior for `Device.reset()`/`libusb_reset_device()`:

On a slight tangent, do you really need to `reset()`?

[2021-11-24 01:21] ahakobyan79 commented on #397
This is the result after removing the dev.reset().

[code]

[2021-11-24 04:08] jonasmalacofilho commented on #397
That's weird.  Can you provide the complete PyUSB + LibUSB debug output (run with `PYUSB_DEBUG=debug LIBUSB_DEBUG=4`)?

Also, I see that the line numbers in the tracebacks don't exactly match the snippet you posted, there are 7 missing lines.  Can you show the rest of the `usbtest.py` script?

[2021-11-24 04:36] ahakobyan79 commented on #397
Thank you for your interest to help with this.
In order to better understand what's going on, let me give some back story and more details:

I'm trying to read Launchpad Mini data from usb. I once used the exact same code above with a Ubuntu 20.04 Proxmox VM, added the USB device to the VM, and using the code above was able to read the inputs.
I am having to rebuild everything from scratch since m

[2021-11-25 18:30] ahakobyan79 commented on #397
[code]

[2021-11-26 13:59] jonasmalacofilho commented on #397
This appears to be an issue with libusb and/or your host's USB stack.  Can you report it to libusb?

[2021-11-30 11:21] mcuee commented on #397
Does you device work under a non-VM Linux machine? Take Proxmox out the equation first to see if that helps.

[2021-12-01 02:04] mcuee opened #398 "pyusb segfaults under macOS with devices stalling on a SET_INTERFACE request"
https://github.com/libusb/libusb/issues/1011#issuecomment-983208629

Just a run log for reference using pyusb under my Mac Mini M1. Not so sure why pyusb segfaults though.

Tormod is suggesting that we look into the error processing path in pyusb.

[code]

[2021-12-01 02:15] jonasmalacofilho commented on #398
Can you get a log with `PYUSB_DEBUG=debug` set?

Also, what version of PyUSB is being used?

[2021-12-01 02:20] mcuee commented on #398
Yes I will post a log this evening.

Git head version of pyusb.

[2021-12-01 04:21] mcuee commented on #398
Full debug log with libusb git head and pyusb githead under my Mac Mini M1 (macOS 12.0.1).

[code]

[2021-12-01 04:32] mcuee commented on #398
Once I use libusb git head with the fix in https://github.com/libusb/libusb/pull/1031, then no more segement fault issue.

[code]
mcuee@mcuees-Mac-mini pyusb % export PYUSB_DEBUG=debug

mcuee@mcuees-Mac-mini pyusb % export LIBUSB_DEBUG=4

mcuee@mcuees-Mac-mini pyusb % python3
Python 3.9.8 (main, Nov 10 2021, 03:48:35)
[Clang 13.0.0 (clang-1300.0.29.3)] on darwin
Type "help", "copyright", "credits"

[2021-12-01 07:34] tormodvolden commented on #398
Oops, the stack trace indicates the crash is in libusb-1.0.0.dylib. From that it seems more a libusb bug than pyusb (or python).

[2021-12-01 10:04] tormodvolden commented on #398
We should try to run it in a debugger (e.g. gdb) to see what happens in darwin_set_interface_altsetting(). Why I first thought that it had to do with pyusb, is that Nathan didn't get any crash when doing the same from C.

[2021-12-01 13:35] mcuee commented on #398
Close this one first since it is likely because of libusb and not pyusb. Will continue the discussion in libusb.

[2021-12-01 13:35] #398 closed

[2021-12-01 13:36] mcuee commented on #398
We can always reopen if later we think there are changes required for pyusb.

[2021-12-03 22:30] 130s opened #399 "[capability] un/bind USB"
As I asked in [stackoverflow.com#q70217666](https://stackoverflow.com/questions/70217666), I'm seeing un/bind a USB device is not possible with just a single or few commands IINM using `PyUSB`.

In the referenced SO thread I had to use convoluted and error-prone `bash` commands on Linux.

Would it make sense to add a capability to PyUSB to un/bind a given device?

[2021-12-04 00:50] jonasmalacofilho commented on #399
The use case appears to be mimicking the physical removal of USB device, by unbinding it from usb _core:_

[code]

---

The reason why `usb.core.Device.detach_kernel_driver()` doesn't work for this purpose is that its use case is unbinding USB _interface_ drivers from the device, allowing LibUSB (using `usbfs`) to bind to them.  It doesn't attempt to remove the core USB device driver.

But it's no

[2021-12-04 04:29] 130s commented on #399
Thanks.

Yeah...that seems to be the case. I just confirmed that the behavior (from a perspective of USB user who's not knowledgeable about underlining technical terms and concepts) of PyUSB's `{at/de}tach_kernel_driver` and the `bash` commands I posted on SO looks similar/the same (I think I haven't verified enough behavior of my `bash` commands) -- Both make the volume on the USB disappear and g

[2021-12-04 04:29] #399 closed

[2021-12-05 04:03] jonasmalacofilho commented on #399
I have to admit that I don't really understood what happens in your use case.  Anyway, I hope `usb.core.Device.(de|at)tach_kernel_driver()` or, more likely, `usb.core.Device.reset()` help you.

If not, try to find out and provide us a bit more information about the device (at the very least the output of `libusb -v -d<vid>:<pid>`) and both applications (name, libraries they use, etc), and we'll go

[2021-12-11 00:04] mcuee commented on #397
@ahakobyan79 As this does not look like a pyusb issue, but rather a host USB issue or maybe a libusb issue, I will close this one. Please re-open if you came back with more information. Thanks.

[2021-12-11 00:04] #397 closed

[2021-12-11 00:27] ahakobyan79 commented on #397
The device works for sure. I've installed USB Analyzer on my Windows pc, and I'm able to read every key, and the data coming in is exactly the same as when it worked just fine with a VM.

[2021-12-11 03:28] mcuee commented on #397
Good that you know the device works under your Windows PC.
And you say it worked fine with a VM, which VM?

So you are not using a VM under Proxmox, but rather a LXC container? If that is the case, you may want to go to libusb to create an issue there to see if people can help you. It may be a bit tricky to use libusb under a Docker or LXC container?

[2021-12-13 21:24] jonasmalacofilho opened #401 "Replace deprecated distutils"
`distutils` has been deprecated in Python 3.10, and code that imports it will no longer work from Python 3.12 onward.[^1]

We currently only use it in two places:

[code]

[^1]: https://www.python.org/dev/peps/pep-0632/

[2021-12-14 23:50] #401 closed

[2021-12-20 16:48] SengerM opened #402 "`ctrl_transfer` seems to behave different in Linux vs Windows"
I don't have much experience with USB so I may be confusing something, please excuse me if this is the case. I am writing the software to talk to a USB device and have experienced that `device.ctrl_transfer` requires a different format for the data to be sent depending if we are running on Ubuntu or in Windows. This was unexpected to me, please forgive me if this is the expected behavior. In [this

[2021-12-22 09:32] jonasmalacofilho commented on #402
From my experience, one of the versions (sometimes, like that answer, missing padding; sometimes, with too much padding) was already wrong, but one of the operating systems was fixing it for us.

Have you confirmed that Linux really doesn't like the padded version?  (And that the amount of padding is exactly right, according to the USB and device specifications)?

[2021-12-22 09:48] SengerM commented on #402
I see. So right now I am testing the code in a second Linux machine and here I can add the padding, i.e. `packet = packet + (64-len(packet))*[0]`, and it still works. In the other machine it started working when I (randomly) removed the padding (now I doubt). To summarize my experience:
1. First Linux computer: I had to remove the padding, with padding it did not work. (Now you make me doubt, I wi

[2021-12-27 14:09] mcuee commented on #402
Do you have the "lsusb -vvv" output of the device? Do you know the communication protocol of the device?

[2021-12-27 14:56] SengerM commented on #402
This is the output of `lsusb -vvv` for this device:
[code]
Still had no time to test with the first Linux computer.

[2021-12-28 06:45] mcuee commented on #402
Ah this is an HID device. I think you may want to use hidapi and cython-hidapi.

But take note there may be problems with Windows and you may need to use git head.
https://github.com/libusb/hidapi/pull/334

Windows libusb HID backend has one bug which is fixed in the git head but not in libusb-1.0.24 release version.
https://github.com/libusb/libusb/pull/986

[2021-12-28 23:16] tcoupe opened #403 "Error Writing to USB Device"
I am trying to write out to a KVM via USB to the keyboard port of the KVM. I want to switch between 2 inputs with keyboard emulation. The problem is the device identifies itself as an HID device and only shows a configuration with ENDPOINT_IN attribute. Writing to it gives an error.

How can I set up a new configuration with ENDPOINT_OUT attribute and send characters to it?

Thanks for any help,
T

[2021-12-31 02:40] jonasmalacofilho commented on #403
A host cannot create arbitrary configurations.  Only a change in the KVM firmware would make that possible.

That said, if a HID doesn't have an output endpoint, its control endpoint may be used for output reports (if necessary and as long as the specific protocol that the device uses expects/supports it).

[2021-12-31 02:40] #403 closed

[2022-01-04 11:01] MrUndead13 opened #404 "Can't import libusb using chipwhisperer on MacBook M1, Monterey"
Good evening,
I'm trying to use a chipwhisperer on my MacBook M1 and it is using libusb to connect with USB.
When I try to connect to it with :

import chipwhisperer as cw
scope = cw.scope()

I get :
OSError: Could not import libusb dll. Try
pip uninstall libusb1
pip install libusb1

I tried to uninstall it and reinstall it as well as doing the same with brew and libusb but nothing changed.
I also

[2022-01-04 11:12] MrUndead13 commented on #404
I get this detailed search error :

OSError: dlopen(/opt/homebrew/opt/libusb/lib/libusb-1.0.dylib, 0x0006): tried: '/opt/homebrew/opt/libusb/lib/libusb-1.0.dylib' (mach-o file, but is an incompatible architecture (have 'arm64', need 'x86_64')), '/usr/local/lib/libusb-1.0.dylib' (no such file), '/usr/lib/libusb-1.0.dylib' (no such file), '/opt/homebrew/Cellar/libusb/1.0.24/lib/libusb-1.0.0.dylib' (

[2022-01-04 17:35] jonasmalacofilho commented on #404
The project you're trying to use appears to require the [`libusb1`](https://pypi.org/project/libusb1/)  Python package, not PyUSB.

[2022-01-04 17:35] #404 closed

[2022-01-05 02:39] mcuee commented on #404
OP asked the question in libusb here.
https://github.com/libusb/libusb/issues/1040

Potential Answer:
https://github.com/vpelletier/python-libusb1/issues/53
https://github.com/pyusb/pyusb/issues/355

[2022-01-11 22:59] JartX opened #405 "Help: usb.core.USBError: [Errno 19] No such device (it may have been disconnected)"
Hi!
i am sending frames to a board and it need reset when receive this frame
My problem is that the board also reset the usb connection and cant connect again without restart the application.

Any way to recover the connection?

First try after reset usb:
File "/app/lib/python3.9/site-packages/usb/core.py", line 113, in wrapper
    return f(self, *args, **kwargs)
  File "/app/lib/python3.9/site-pa

[2022-01-11 23:58] mcuee commented on #405
Please post your code snippets. Supposedly you have to search for the device again after the reset.

[2022-01-12 00:55] JartX commented on #405
@mcuee many thanks for your answer :)

1: def init_firmware_update(self):
         print("Inicio Actualización")
         self.usb_serial.init_board()
         print("Versión Firmware 1")
         trama_version = self.usb_serial.send_frame(self.frames.trama_version(), True) //It send reset to board
         print(chr(trama_version[3]) + "."+ chr(trama_version[5])+"."+chr(trama_version[7]))

[2022-01-12 01:02] JartX commented on #405
@mcuee check that point please:

[54.184981] [00000002] libusb: error [get_usbfs_fd] libusb couldn't open USB device **/dev/bus/usb/001/038**, errno=2
 Bus 001 **Device 038**: ID 04d8:003f Microchip Technology, Inc. (formerly SMSC) USB 2.0 Hub

After replug:
Bus 001 **Device 040**: ID 04d8:003f Microchip Technology, Inc. (formerly SMSC) USB 2.0 Hub

Device 040, but libusb need Device 038... mmmm

[2022-01-12 11:34] JartX opened #406 "Question: Any way to call libusb_exit() from pyusb?"
Think that need restart libusb, then need to do libusb_exit and libusb_init, how can do it from python?

Many thanks

[2022-01-12 15:12] jonasmalacofilho commented on #406
That's probably a bad idea: either it shouldn't do anything (if you pass a context other than the one used by PyUSB), or you'll break PyUSB and most likely get an instant memory access violation.

But if you absolutely must, you can access the foreign function prototypes and other internal information through by inspecting he backend object:

[code]

Keep in mind that you're trying to mess with Py

[2022-01-12 15:37] jonasmalacofilho commented on #405
Yes, the device id will change.  That's expected, and you should be able to use `find()` to get a handle to the new device [id], which you must use instead of the old handle.

You should also still be able to catch the exception...

[2022-01-12 15:39] jonasmalacofilho commented on #405
The odd thing is that according to the libusb1 documentation we should _normally_expect `LIBUSB_ERROR_NOT_FOUND` on `libusb_reset_device()`, but you reported getting `LIBUSB_ERROR_NO_DEVICE` instead.  What libusb version do you have, and what platform are you on?

[2022-01-12 15:43] JartX commented on #405
@jonasmalacofilho not work :S
libusb 1.0.24, ArchLinux Kernel: Linux arch 5.15.12-zen1-1-zen #1 ZEN SMP PREEMPT Wed, 29 Dec 2021 12:04:52 +0000 x86_64 GNU/Linux
Before replug
<usb.backend.libusb1._LibUSB object at 0x7f78304454c0>
[ 0.034779] [00000002] libusb: debug [libusb_get_device_list]
[ 0.034783] [00000002] libusb: debug [discovered_devs_append] need to increase capacity
[ 0.034803] [0000000

[2022-01-12 15:50] JartX commented on #405
@jonasmalacofilho

mmm reading backend/libusb1.py

def get_backend(find_library=None):
    global _lib, _lib_object
    try:
        if _lib_object is None:
            _lib = _load_library(find_library=find_library)
            _setup_prototypes(_lib)
            _lib_object = _LibUSB(_lib)
        return _lib_object
    except usb.libloader.LibraryException:
        # exception already logged (i

[2022-01-12 16:02] jonasmalacofilho commented on #405
Can you show me the exact program that you tried?

Additionally, can you provide the complete LIBUSB debug output (for the same program)?

[2022-01-12 16:30] JartX commented on #405
<usb.backend.libusb1._LibUSB object at 0x7f0c2c1a26a0> always have the same memory reference when get_backend() is called, never change that object that use the wrong bus id, can restart or remove the value of that object?

def get_backend(find_library=None):
global _lib, _lib_object
try:
if _lib_object is None:
_lib = _load_library(find_library=find_library)
_setup_prototypes(_lib)
_lib_object =

[2022-01-12 16:40] jonasmalacofilho commented on #405
Note: given that there's no call to `send_frame` in the code you provided, I'm not sure I'm looking at the right thing.  Did you physically reconnect the board between "Desconecta" and "Conecta"?

---

Anyway, can you try something simpler?

- get a valid handle to the device with `find()`
- reset the device
- check the output of `find()` every second for15 seconds

Just as one of the `find()` cal

[2022-01-12 16:46] jonasmalacofilho commented on #405
You could maybe try monkeypatching `_lib_object` to `None`, so that the next call to `get_backend()` creates a new context.  But it could break the cleanup of the old context, besides not being stable/guaranteed behavior...

[2022-01-12 17:13] JartX commented on #405
Send frame is not sended because am trying the reconnect :)

mmmm delay to try

[2022-01-13 01:03] jonasmalacofilho commented on #405
It's not just about the delays.  I actually would like to know if the device disappears and then appears back again, and get a rough idea of how long it's taking.  That's why I asked you to "check the output of `find()` every second for 15 seconds."

[2022-01-16 04:54] psxpetey opened #407 "Is there Pci usb card support"
Will this work over pci ? Don’t see any info but if you have a pci usb card could Pyusb still work or will it need modification

[2022-01-16 06:09] jonasmalacofilho commented on #407
_(I'm guessing you meant PCI-e)._

That's perfectly normal, most computers have one or more additional USB hubs on the PCI-e bus, even if they aren't in expansion cards (instead, directly soldered to the motherboard).

As long as the kernel sees the USB hub that the card provides, you should be set.

[2022-01-16 06:09] #407 closed

[2022-01-16 16:34] 7ombie commented on #355
Same issue (M1, Monterey). I already had Python 3.9 installed locally, so used `brew` to install `python3` (in its own directories), then used this to install `pyusb` into the Homebrew Python libraries:

[code]

Running the same version of Python lets me use `libusb`:

[code]

I'll tidy up my OS later, but this works at least. Thanks for the pointers, @everyone.

[2022-01-17 03:18] 7ombie commented on #355
Probably unrelated, by PyUSB was super unreliable. It would randomly find the device about one in five attempts. I just have to keep running the script. Sometimes it would send transfers, sometimes not. And when it read data (from an interrupt pipe), it would often drop byte. It was unworkable, and the whole point of using Python was to make prototyping simple.

[2022-01-17 08:18] jonasmalacofilho commented on #355
@mcuee

I find it unlikely that PyUSB or LibUSB would be so unrealiable on their own; maybe it's a problem with that user's specific device?  (But I'm not going to engage with a vague "unworkable" comment).

---

Anyway, can you let help answer a few questions about how are we doing on M1 Macs these days?

- can PyUSB find libusb-1.0?  what needs to be installed?
- is the symlink workaround [menti

[2022-01-18 02:16] jonasmalacofilho commented on #405
@JartX, did you manage to perform the test I suggested?

[2022-01-18 08:29] JartX commented on #405
@jonasmalacofilho yep, only adding delay and timeout is solved it :)

[2022-01-18 08:29] #405 closed

[2022-01-18 22:24] 7ombie commented on #355
The device (Novation Twitch) works with a macOS driver. As well, things that don't work with PyUSB work as documented with WebUSB. The device itself does seem a bit flakey to be honest (Novation took a cheap and cheerful approach to USB back when the Twitch was designed), so that may be a factor, but PyUSB was remarkably useless (on my machine).

I would open an issue, but there were so many thing

[2022-01-18 22:51] sidprice opened #408 "pyusb CDC example"
First, I am far from an expert with USB and libusb, so please forgive what may be a very newbie request.

I am working on a Python script to communicate with a CDC USB device, running on Windows 10. The device appears as a COM port in Device Manager, and it works with a different app (not written by me) using the default Windows driver. I have PyUSB installed, and the device is found using "usb.co

[2022-01-19 02:00] mcuee commented on #355
Yes, just install Homebrew.

Not necessary if using homebrew.

Yes if the device is behaving well.

[2022-01-19 02:03] mcuee commented on #355
The whole problem of libusb under macOS is usually because there is an existing macOS kernel driver with exclusive access to the device. Then there is no easy way to detach the kernel driver. In that case, it is not recommended to use libusb/pyusb.

Ref:
https://github.com/libusb/libusb/issues/1014
https://github.com/libusb/libusb/issues/972

[2022-01-19 02:10] mcuee commented on #408
Please do not use pyusb with a CDC-ACM USB serial device. Please use pyserial instead.

[2022-01-19 02:10] #408 closed

[2022-01-19 02:12] mcuee commented on #402
Close the issue for now. Please re-open if necessary.

[2022-01-19 02:12] #402 closed

[2022-01-24 07:54] mellow-hype commented on #355
hey @jonasmalacofilho -- in case it helps, I recently installed libusb via homebrew on a new M1 mac and ended up running into either the same or similar issue and resolving it by using `export DYLD_LIBRARY_PATH=/opt/homebrew/lib` prior to running the package that was leveraging libusb. I had forgotten about the fix I had previously noted above. Looking at both "fixes", I think the issue may be in

[2022-01-24 09:42] mcuee commented on #355
I think the main difference is that I am using the Homebrew python 3 and not Apple Python 3.

[2022-01-25 03:18] jonasmalacofilho commented on #355
Thank you all for the extra information.

[2022-02-02 12:31] mcuee commented on #396
Ref: WSL does not work with libusb, at least not yet.
https://github.com/microsoft/WSL/issues/2195

[2022-02-06 19:53] jonasmalacofilho opened #409 "Review finalization of LibUSB (1.x) devices and context"
`libusb_unref_device()` is not supposed to be called after the context (for that device) has been destroyed with `libsub_exit()`.

However, with

[code]

and current PyUSB HEAD:

[code]

Related: libusb/libusb#1058

[2022-02-08 10:41] benzea commented on #409
Wait, no. This is completely fine. I added a `print` after the `del` and added some debugging into context finalizer. What you are seeing here seems to be `libusb_unref_device` done internally by `libusb_exit` as it is caching the discovered devices.

[code]

i.e.:
[code]

and

[code]

[2022-02-08 11:08] benzea commented on #409
Said differently, with f644ea7a6b7e the situation should be fine:

i.e. we have the following references:
 * `Device` instance -> `_ResourceManager`
 * `_ResourceManager` -> `_Device` and `_LibUSB` instance
 * All of these keep the modules alive (via their classes)

So, we have a reference cycle containing the modules and `_LibUSB` instance. However, we do *not* have a reference cycle for the `Dev

[2022-02-08 11:10] jonasmalacofilho commented on #409
Oh, you're right.  And the backtrace from those last `libusb_unref_device()` calls is:

[code]

And by adding a trace to `_Device._finalize_object`:

[code]

 we can also see that we are indeed calling the finalizers (i.e. we're not leaving LibUSB to clean up for ourselves):

[code]

I'll check if there's anything else that could use a trace as well, added them all, and close this.

---

I'll take

[2022-02-08 14:53] jonasmalacofilho commented on #409
Yes, I see that both `libusb1` and `core` modules reference themselves.  But I just realized I don't see the reference cycle with `_LibUSB` you mentioned.  Can you explain?

---

It's indeed a bit indirect, but that's necessary because of the various backends, and PyUSB even supports user-provided ones.

What change to `_ResourceManager` would you suggest to ensure that `dev` is dropped before `ba

[2022-02-08 15:19] benzea commented on #409
Sure, the way I see it, we have:
 * `_LibUSB` instance -> `_LibUSB` class
 * `_LibUSB` class -> libusb1 backend module
 * libusb1 backend module `_lib_object` -> `_LibUSB` instance

[2022-02-08 15:22] benzea commented on #409
Hmm, I thought that adding the following should be enough:
[code]

[2022-02-08 15:29] benzea commented on #409
Hrm, to be honest, not sure. In cpython this works, but I suppose that e.g. pypy may not behave in the same way. And, I suspect we may not be able to just call `self.dev.finalize` because there may be further references.

[2022-02-08 16:12] jonasmalacofilho commented on #409
I don't think that counts, as the class doesn't reference the module itself, other things living in it (alongside the class itself).

---

While that initialize looked good to me, it doesn't seem to actually do much.

If we remove the `del(devices)` from our repros and also add a trace to this new `_ResourceManager.__del__()`, we see that it can sometimes be executed _after_ both `dev` and `backen

[2022-02-08 17:01] jonasmalacofilho commented on #409
Well, the `_LibUSB` refers to the module though its `__module__` field, so you're correct.

But if that's the only reason that `_LibUSB` is dropped after `_Device`, then `libusb_exit()` might not be called at all in interpreters that are less tolerant to cycles than CPython.

[2022-02-08 20:42] benzea commented on #409
Hah, I fell for exactly that myself!

I fear I am a bit out of knowledge about python garbage collection and object destruction at this point :-/

My naive approach would be to create a chain like `Device -> _ResourceManager -> _Device -> _LibUSB`, and then hopefully python cannot release the objects in the wrong order. So, maybe it is enough to attach a reference to `_LibUSB` to the `_Device` ins

[2022-02-09 00:20] 808reefer opened #410 "[Errno 32] Pipe Error using PyUSB; SLM-25 Decibel Meter Connected to Laptop"
Hi,

I am having trouble trying to obtain data from a SLM-25 sound level meter from Gain Express using PyUSB. Laptop OS is Windows 10, PyUSB version 1.2.1, and Python version 3.9.10. I have used Zadig to replace the drivers with WinUSB. It seems like there is a Pipe error, but not sure how to fix it. I have been stuck for 3 weeks and am very desperate. Any help would be greatly appreciated, thank

[2022-02-09 03:29] jonasmalacofilho commented on #409
Good to know I'm not the only one : )

---

I think what allows the code to work currently (under both CPython and PyPy, as I've just confirmed) is:

- `_Device` instances can't outlive the `_Device` class;
- the `_Device` class can't outlive the `libusb1` module;
- and the `_LibUSB` singleton instance lives as long as the `libusb` module.

I also think that if `_Device._finalize_object` gets to r

[2022-02-09 03:29] #409 closed

[2022-02-09 03:47] jonasmalacofilho commented on #410
One way to look at a problem like this is to go to the backend documentation for the call and the error.  You haven't mentioned, but I'm going to assume for now that the backend is libusb 1.0.

Under that assumption, the error is [`LIBUSB_ERROR_PIPE`](https://libusb.sourceforge.io/api-1.0/group__libusb__misc.html#gab2323aa0f04bc22038e7e1740b2f29ef), and [`libusb_control_transfer()`](https://libusb

[2022-02-09 16:56] tormodvolden commented on #331
Just reading through this and there is something that needs clarification about the original post:
iManufacturer,  iProduct and iSerialNumber are indexes to strings stored on the device and which can be retrieved with control requests (and often the OS has already done it and the cached device strings would be available - this is platform dependent). It is fully OK that these strings are empty if

[2022-02-09 17:44] jonasmalacofilho commented on #331
@tormodvolden,

I agree.  I don't think I was clear as you about this on my previous comments in this thread, so thank you!

Do you remember anything else about that issue?  I saw it as recently as last year (in bug reports, IIRC on liquidctl), but wasn't able to track down the problem with the limited information I had at the time.

[2022-02-09 17:57] tormodvolden commented on #331
Here is my summary in one of the upstream PRs: https://github.com/gregkh/usbutils/pull/103#issuecomment-706695483
Since it was only fixed late 2020 it is probably present in Ubuntu 20.04 LTS as well.

[2022-02-09 18:13] jonasmalacofilho commented on #331
Thanks again!

[2022-03-09 10:56] mcuee commented on #355
Just an example run log to show that `export DYLD_LIBRARY_PATH=/opt/homebrew/lib` is the right fix if you are using non-Homebrew python installations, for example, Apple Python3, or Python.org Python3, or others.

I am using a virtual env from Python.org Python3.10 installation in the following example.

[code]

[2022-03-11 07:25] danielhrisca opened #414 "usb.core.USBError: [Errno 32] Pipe error after some time"
Hello,

I'm getting this error while reading. The communication works fine for about 3 minutes and then this is triggered.

I'm using an array for the reads, the essential code looks roughly like this:

[code]

and the traceback looks like this

[code]

What could I do to mitigate this problem?

Thank you!

[2022-03-14 12:58] jonasmalacofilho commented on #414
Hi @danielhrisca,

Sorry for the delay, I almost lost the notification for this issue...

Please take a look at https://github.com/pyusb/pyusb/discussions/411#discussioncomment-2138235 for some general information about how to investigate a problem like this.  That comment deals with a different libusb API, so make sure to check the correct docs for the one being called here (`libusb_bulk_transfer

[2022-03-16 09:47] JLittleGDS96 opened #416 "ValueError - No Device Langid (permission issue, no string descriptors supported or device error)"
Hello! Firstly, I am quite new to this so I am still learning, hope you guys don't mind if this has been asked. I have did some search and it did not really help me.

Apparently, my friend was able to execute the same code on the same device properly. So I am assuming the device error is out. Not sure if it's the issue with my laptop permissions.

Thank you for reading!

![tempsnip](https://user-i

[2022-03-25 09:11] 0hotpotman0 opened #418 "NotImplementedError: Operation not supported or unimplemented on this platform"
Hi

I run the pyusb(1.2.1 version) library on windows 10, the python version is 3.8.0,  there  got an error in function "ctrl_transfer()", my code is quite simple, via serial to transfer the address to the register via that function,

[code]

then I got the error as below:

[code]

It can find my port, but the function 'ctrl_transfer' look like does not support Windows, please help.

Best regards

[2022-03-25 14:13] jonasmalacofilho commented on #418
The error message, the fact that it's coming from `libusb_open`, and that you're dealing with a CP21xx device, suggests that your issue is the need to install a libusb-compatible driver.

https://github.com/libusb/libusb/wiki/Windows#How_to_use_libusb_on_Windows

[2022-03-27 15:36] jerome-diver opened #420 "iManufactorer, iProfuct and iSerialNumber show "Error Accessing string" on Linux"
OS: Linux Fedora-34
for each device, i get only "Error Accessing string" (or nothing if there is nothing)
for iManufactorer, iProfuct and iSerialNumber
But lsusb command show me all of them that PyUSB failed to show.

Is it a real multi-platform able package or just a Windows club specific package ?
How to help to fix this ?

[2022-03-28 00:41] jerome-diver opened #422 "iManufactorer, iProfuct and iSerialNumber show "Error Accessing string" on Linux"
It is as the title explain the situation.
I think it is a bug on Linux system (should try on any Unix system too... i suspect to get the same result) because many other command who read these data from USB device don't need privileged user (as "lsusb" as i already explain).

[2022-03-28 05:54] jonasmalacofilho commented on #422
Duplicated of/already discussing it in #421.

[2022-03-28 05:54] #422 closed

[2022-03-29 02:44] mcuee commented on #380
Some testing results under Windows with libusb-1.0.26rc1. Isoc transfer seems to work now under Windows with libusbk driver.
https://github.com/libusb/libusb/issues/1099

[2022-03-29 07:39] tormodvolden commented on #380
I see in the log in the libusb ticket that it fails in bulk_read. Should that be iso_read?

[2022-03-29 08:57] mcuee commented on #380
I will generate the debug log. 0x82 is an isoc endpoint. The FW is from Cypress and is a known-good firmware (tested with Cypress Windows CySteeam app and libusbk kbench). I believe the problem comes from libusb Windows (isoc problem with WinUSB driver) and not pyusb.
https://github.com/libusb/libusb/issues/1099#issuecomment-1081330942

[2022-03-29 09:40] tormodvolden commented on #380
Great. Yes, since it works with libusbk, the problem is probably in the libusb winusb code. But in any case your debug log might shed some light on what goes wrong.

[2022-03-29 14:22] tormodvolden commented on #380
I am starting to wonder if it is a pyusb bug, setting the transfer type wrongly to bulk when submitting the transfers, and for some reason this still works fine on libusbk.

[2022-03-29 14:33] jonasmalacofilho commented on #380
@mcuee can you also enable `PYUSB_DEBUG=debug` when generating that debug log?

[2022-03-29 14:39] tormodvolden commented on #380
See the order: bulk = 0, intr=1, iso=2 in usb/core.py
[code]
versus e.g. from libusb.h```

        LIBUSB_ENDPOINT_TRANSFER_TYPE_CONTROL = 0x0,
        LIBUSB_ENDPOINT_TRANSFER_TYPE_ISOCHRONOUS = 0x1,
        LIBUSB_ENDPOINT_TRANSFER_TYPE_BULK = 0x2,
        LIBUSB_ENDPOINT_TRANSFER_TYPE_INTERRUPT = 0x3
[code]

[2022-03-29 18:19] tormodvolden commented on #380
I tested isochronous transfers with WinUSB with libfreenect/XBox (all C/C++) and it works well. I can see `winusbx_submit_iso_transfer` in the log. So I am even more convinced there is a pyusb issue.

[2022-03-29 21:46] jonasmalacofilho commented on #380
Hey, thank you both for looking into this some more.

While waiting for mcuee's log, I looked at https://github.com/libusb/libusb/issues/1099#issuecomment-1081865420 and there does appear to be a problem in PyUSB: the traceback clearly shows that we're issuing a `libusb_bulk_transfer()` call, which is completely unexpected for a isochronous endpoint.

There isn't anything immediately/obviously wro

[2022-03-29 22:40] tormodvolden commented on #380
There will always be altsettings with isochronous transfers, because any interface must have a (default?) altsetting without isochronous endpoints.

[2022-03-30 00:39] mcuee commented on #380
Okay, I will reopen this ticket. It seems to me pyusb does not work with isoc transfer for high speed and superspeed device (not yet checking out full speed device).

Here is the debug under Linux: Ubuntu 20.04 x64.

The following debug is with PYUSB_DEBUG=debug and LIBUSB_DEBUG=3 (it is too much with 4).

[code]

[2022-03-30 00:57] mcuee commented on #380
Under Linux it seems to me the other simpler device with only one alternative setting does work. This is a SuperSpeed FX3 device running isoc loop back test. I will try Windows later.

[code]

[2022-03-30 02:34] mcuee commented on #380
Under Windows, it seems to work as well for libusbk driver, but got problem with WinUSB, still both are using isoc transfer.

Debug log for libusbk.
[code]

[2022-03-30 02:43] mcuee commented on #380
Debug log for libusbk:
[code]

[2022-03-30 02:58] jonasmalacofilho commented on #380
@tormodvolden ,

I think that can also happen, but it's probably not the case here, since no reads or writes were done before the altsetting change.

---

@mcuee,

Thanks, I'll take a look.

[2022-03-30 03:55] mcuee commented on #380
Windows libusbk debug log for the FX2LP device running Cystream FW.

[code]

[2022-03-30 03:57] mcuee commented on #380
WinUSB driver debug log.

[code]

[2022-03-30 03:59] mcuee commented on #380
Device Descriptor of the Cystream FW for the Cypress EZUSB FX2LP.

[code]

[2022-03-30 04:06] mcuee commented on #380
There seems to be no issue with WinUSB or libusbk if I test alt interface 2 (bulk endpoints).
[code]

[2022-03-30 05:34] mcuee commented on #380
I have deleted the SuperSpeed debug log which points to libusb WinUSB issue as mentioned in libusb/libusb#1104.

The pyusb issue seems to be with the CyStream FW for FX2LP.

[2022-03-30 05:56] jonasmalacofilho commented on #380
@mcuee, I haven't finished going over all of your logs, but can you test the code in the [`staging`](https://github.com/pyusb/pyusb/tree/staging) branch (currently at 302eb7e9950c6726abcb6bb7e1f1bfbfcb9560aa)?  It has a couple of fixes related to this.

[2022-03-30 06:53] mcuee commented on #380
@jonasmalacofilho Yes it now submits isoc transfer.
For libusbk it always crashes. For WinUSB the log is different but also got problems.
[winusb_staging.zip](https://github.com/pyusb/pyusb/files/8377769/winusb_staging.zip)
[libusbk_staging.zip](https://github.com/pyusb/pyusb/files/8377771/libusbk_staging.zip)

[2022-03-30 07:15] Shimon-Guo opened #423 "How can I control two same device at the same time"
I want to send some comamnd to 2 device at same time using pyusb, how should i do

[2022-03-30 09:02] jonasmalacofilho commented on #423
Have you tried it and hit an issue?  Or are you asking for general tips on concurrency in Python?

[2022-03-30 10:05] mcuee commented on #423
Maybe you want to elaborate what exactly you want to achieve. Thanks.
Are you asking how to differentiate two identical devices? If the device have unique serial number, that will make things easier.

[2022-03-30 11:27] Shimon-Guo commented on #423
I use pyusb to send HID evnent to my phone, it work well on there is only one phone, but when I hava 2 same phone, I want to send HID event to both the 2 phones at same time. I try to use mutiprocess, but I find it was blocked by pyusb

[2022-03-31 06:16] jonasmalacofilho commented on #380
Now there seem to be a few different errors:

- the reads fail somewhere deep in libusb with errcode 87 (WinUSB) or 31 (libusbk); might it be caused by your transfer size (2**14) being to too large for Windows (and Linux)?[^1]
- the writes with WinUSB seem to also fail, again deep in libusb, due to packets not being "contiguous in memory", but PyUSB literally sends an array, so I'm not sure what e

[2022-03-31 07:22] jonasmalacofilho commented on #423
Can you elaborate?

[2022-03-31 09:49] mcuee commented on #380
The reason to use 2**14 (16384) is that WinUSB backend somehow requires the size to be at least 8 times wht MaxPacketSize of the isoc endpoint, so it will be at least 8192 (2**13). I will try the staging git branch under Linux first to see how it goes under Linux. I can also play with the transfer size to see if that is the problem.

[2022-03-31 09:59] mcuee commented on #380
The staging branch seems to work fine under Ubuntu 20.04 Linux.
[code]

[2022-03-31 10:47] Shimon-Guo commented on #423
I use pyusb to send HID evnent to my phone, it work well on there is only one phone, but when I hava 2 same phone, I want to send HID event to both the 2 phones at same time. I try to use mutiprocess, but I find it was blocked by pyusb

[2022-03-31 11:20] mcuee commented on #380
The relevant libusb codes are around here:
https://github.com/libusb/libusb/blob/master/libusb/os/windows_winusb.c#L2990
[code]

[2022-03-31 11:22] mcuee commented on #380
I am not an expert here -- isochronous transfer is hard.
The relevant Microsoft documentation is here.
https://docs.microsoft.com/en-us/windows-hardware/drivers/usbcon/getting-set-up-to-use-windows-devices-usb

@tormodvolden -- please chime in here as well if you can. Thanks.

[2022-03-31 13:00] mcuee commented on #380
I think I can reproduce the issue with C based application, a quick hack of the libusb example.

[code]

[2022-03-31 13:38] mcuee commented on #380
@jonasmalacofilho I think the staging tree is good. As for the following, hopefully you can fix it.

[2022-04-01 10:18] jonasmalacofilho commented on #423
@Shimon-Guo,

It seems you accidentally duplicated a previous comment instead of replying with more information.

[2022-04-01 10:22] mcuee commented on #423
It is just easier to show your codes here.

[2022-04-01 10:30] jonasmalacofilho commented on #423
@mcuee,

I honestly curious about where the HID comes in...

Like, is the phone reporting itself as a HID?  Never saw that before...

[2022-04-01 11:13] mcuee commented on #423
@Shimon-Guo I think your English is okay, just need to write in details of what you want to achieve. Worst case you can use Chinse and I should be able to translate.

[2022-04-02 03:15] Shimon-Guo commented on #423
@mcuee Actually，I try to use pyusb to achieve GOOGLE AOA protocol (https://source.android.com/devices/accessories/aoa2),
I successful use the protocol to connect an android phone. This protocol think of my computer as an accessory to my phone like keyboard, mouse. So I can transmit a signal from the computer to the phone, for example by clicking on a certain coordinate on the screen, or entering a

[2022-04-02 04:26] mcuee commented on #423
Show your codes how you start two processes.

[2022-04-02 05:57] Shimon-Guo commented on #423
@mcuee
`from multiprocessing import Process
import xhid

def func_1():
    device = xhid.connect(device_id='43b64863')
    device.swipe(500, 2000, 500, 100, 1000)

def func_2():
    device = xhid.connect(device_id='5DB659YT7X4HKVWC')
    device.swipe(500, 2000, 500, 100, 1000)

process = [Process(target=func_1), Process(target=func_2)]

[p.start() for p in process]
[p.join() for p in process]`

He

[2022-04-02 06:29] Shimon-Guo commented on #423
@mcuee
`import time
from multiprocessing import Process
import xhid

all_devices = xhid.connect_all()

def func(device):
    device.click(150, 1800)
    time.sleep(2)
    device.swipe(500, 2000, 500, 100, 1000)

process = [Process(target=func, args=(device,)) for device in all_devices]

[p.start() for p in process]
[p.join() for p in process]
`
but i tied this, it didn't work again.

When I exit,

[2022-04-02 06:46] Shimon-Guo commented on #423
@mcuee  I think i have found the problem, I use 'while Ture' condition is the func 'swipe', so it was blocked.
[code]

[2022-04-02 10:37] jonasmalacofilho commented on #423
@Shimon-Guo ,

I'm glad you seem to have already resolved your issue.

Here are some additional comments about your code:

- If you have any more problems, I would also take a look at `xhid.connect()`, as it's an obvious place for problems that appear when you have two identical devices;
- Having each process connect to its own device (as in you first code sample) is preferable to trying to pass P

[2022-04-02 10:37] #423 closed

[2022-05-08 13:17] mcuee commented on #235
Reference: https://github.com/libusb/libusb/wiki/FAQ#Testing_libusb

[2022-05-11 04:34] masyossi opened #424 "Barcode Scanner has 2 interfaces"
I have replaced the interface 0 and interface 1 drivers using zadig
![image](https://user-images.githubusercontent.com/35480783/167769620-86acad94-32b7-4996-9774-e38c17660a59.png)

for the configuration

[code]
but the Barcode scanner cant read the barcode. anyone can help to resolve the issue?
Thanks

[2022-05-12 05:13] mcuee commented on #424
Do you encounter any error message from your codes? I do not see any codes related to reading from the barcode scanner.

Do you know the communication protocol of the Barcode scanner? You will have to know that first before trying to use pyusb unless you carry out reverse engineering.

Example of reverse engineering using pyusb.
https://slomkowski.eu/tutorials/eavesdropping-usb-and-writing-driver-

[2022-06-08 08:08] DataconTom opened #429 "usb.util.find_descriptor return NoneType"
### Discussed in https://github.com/pyusb/pyusb/discussions/428

<div type='discussions-op-text'>

<sup>Originally posted by **DataconTom** June  8, 2022</sup>
![image](https://user-images.githubusercontent.com/69441947/172564197-902d813e-c864-4bc4-9d71-5efa829a092c.png)
![image](https://user-images.githubusercontent.com/69441947/172564363-b4b30a5b-80d6-4e1f-8c0f-27036a065415.png)
</div>

[2022-06-08 14:53] jonasmalacofilho commented on #429
Please don't create a duplicate issue for a discussion unless it has already been concluded (in that discussion) that there's an actual bug or feature to be reported/requested.

[2022-06-08 14:53] #429 closed

[2022-06-09 22:45] #424 closed

[2022-07-06 14:32] danielhrisca opened #433 "libusb_set_option"
I'm trying to set the pipe timout value for a windusb device. `libusb-1` set this using the function `libusb_set_option` which is not available from `pyusb`. Is there any chance to expose this function?

[2022-07-06 21:00] jonasmalacofilho commented on #433
Since we generally only have a single LibUSB instance per process, I'm reluctant to expose simply expose that functionality: one caller (say, in one of your dependencies) could easily break expectations of all other callers.

Still, it's something we should have at a low level (see #381 for another use case).  When I looked into it, I got stuck on how to properly support the `va_list`... do you kn

[2022-07-09 02:45] mcuee commented on #433
There is no libusb_option items related to pipe time out.
https://libusb.sourceforge.io/api-1.0/group__libusb__lib.html#ga07d4ec54cf575d672ba94c72b3c0de7c

[2022-07-11 07:47] jonasmalacofilho commented on #209
It just occurred to be (while cleaning up old emails on my inbox and finding one referencing this issue) whether we know why Zadig doesn't ship `libusb-1-0.dll`, and whether that could be changed.  @mcuee, do you know?

---

A related note, for those that might not know yet: [pyocd/libusb-package](https://github.com/pyocd/libusb-package) has made the lives of developers using PyUSB a lot simpler,

[2022-07-11 08:18] mcuee commented on #209
That is good to know.

BTW, python-libusb1 is also trying to ship the libusb-1.0.dll binary for Windows.
Ref: https://github.com/vpelletier/python-libusb1/blob/master/setup.py

[2022-07-12 04:43] eszhaobing opened #434 "optimization for get_string in usb/util.py"
We often come across some less canonical USB devices that don't have string descriptors. Therefore, it is recommended to return None directly instead of throwing an exception。

` if langid is None:
        langids = dev.langids
        if 0 == len(langids):
            raise ValueError("The device has no langid"
                             " (permission issue, no string descriptors supported or d

[2022-07-12 05:39] jonasmalacofilho commented on #434
Not having string descriptors is _not_ what's going on with your device, or, at least, not what it's reporting there.  Both `iManufacturer` and `iProduct` are _non zero,_ indicating that they do exist.

Moreover, if you call `util.get_string()` with that `iSerial`, the optimization you suggested already exists: there will be no traffic to the device, and the function will immediately return `None`

[2022-07-12 05:39] #434 closed

[2022-07-15 09:10] jonasmalacofilho commented on #355
@jveitchmichaelis, at this point (and for a significant part of the thread up to this point), failures to search the DLLs in the usual places are most likely issues with these interpreters.

That said, one thing you could check before raising an issue to Conda is whether your running it natively on Arm.

[2022-07-17 01:55] jveitchmichaelis commented on #355
@jonasmalacofilho good call with checking to see if it's running a native version. I found [this](https://stackoverflow.com/questions/65415996/how-to-specify-the-architecture-or-platform-for-a-new-conda-environment-apple) SO post which boils down to creating a new env with:

[code]

and then installing:

[code]

(I also ran the suggested `conda env config vars set CONDA_SUBDIR=osx-arm64` inside th

[2022-07-26 13:39] robert-billing opened #438 "Repeat call to find()"
I'm working on a utility which needs to rescan the bus to find devices several times. Doing this often results in the program exiting unexpectedly on windows. This code fragment runs correctly on Linux and Macintosh, but exits prematurely on Windows.

[code]

[2022-07-26 19:22] jonasmalacofilho commented on #438
Hi, thanks for reporting this.

However, I can't seem to reproduce the problem.  Can you it again on your machine with both `PYUSB_DEBUG=debug` and `LIBUSB_DEBUG=4` set on your environment?

Additionally:

- what version of PyUSB are you running?
- what backend library (e.g. libusb-1.0) and version are you using?
- what architecture and version of Windows are you running on?
- what is the Python i

[2022-07-30 09:01] mcuee commented on #438
No issue here either with libusb-1.0.26 and oyusb 1.2.1 under an virtual enviroment of Python 3.9.7 64bit, Windows 11.

[2022-07-30 09:02] mcuee commented on #438
I can only guess that ther is an issue with libusb under the paticular system.

[2022-08-03 22:03] alfiecg24 opened #441 "Device._ctx.handle is None unless Device object is printed"
Hi,

I am having a weird bug, where I have a Device object that is the USB device connected.`Device._ctx` is always the correct type, but `Device._ctx.handle` is None ONLY if I don't print the value of the Device object beforehand...

![Screenshot 2022-08-03 at 23 03 59](https://user-images.githubusercontent.com/63724031/182720570-08851134-b7b7-4a09-972e-73993bf16dac.png)

This returns `Device._ct

[2022-08-04 02:33] jonasmalacofilho commented on #441
That's not a bug, PyUSB automatically manages things like getting a device handle and claiming an interface, and that's done lazily.  It's the chief purpose of the `self._ctx: _ResourceManager` context.

---

On an unrelated note, can I ask why you need to into PyUSB internals just to manually do a control transfer, instead of calling the public `device.ctrl_transfer(...)` method?

[2022-08-04 02:39] jonasmalacofilho commented on #441
For completeness, callers are not restricted to this automatic and lazy mechanism when it comes to claiming and releasing interfaces (`usb.util.claim_interface`, `usb.util.release_interface`).

[2022-08-04 19:15] alfiecg24 commented on #441
This isn’t my code, it’s a fork of another project and I’ve just left it how it came 😄

[2022-08-04 19:59] jonasmalacofilho commented on #441
Ah, I see.  It makes more sense now, it's trying to exploit a race in the USB DFU implementation in some devices...

By the way, you should have linked to the code in the first place, after all it's public.[^1]  Otherwise I'm left without useful information  for no reason... and it's not like many programmers (or even people in general) have an issue with iOS/iPadOS jailbreaking.[^2]

Anyway, the

[2022-08-04 20:00] #441 closed

[2022-08-14 20:31] enterdoki commented on #355
This worked for me. Thanks.

[2022-08-19 04:48] SharePlainCSource opened #448 "usb.core.find return wrong object"
libusb：1.0.26
pyusb：1.2.1
os:windows11
python:3.9.5
driver:libusbK 3.0.7.0

Plugin USB Device->Run Program->Unplug USB Device->Plugin USB Device
![image](https://user-images.githubusercontent.com/18573790/185543122-1b542851-0071-4480-b3d9-13e8ad5bdc8a.png)

[2022-08-19 10:47] jonasmalacofilho commented on #448
Hi,

I'm failing to spot what's wrong in that screenshot.  Could you point me to the issue?

[2022-08-21 06:05] doronz88 opened #449 "raising correct errors"
PyUSB should raise more accurate errors, such as `USBBrokenPipeError` instead of `USBError` for everything so users can treat these exceptions better.
I can create this as a PR if you aggree

[2022-08-22 02:15] SharePlainCSource commented on #448
1.Plugin No.1 USB device to PC
2.Run Program
![image](https://user-images.githubusercontent.com/18573790/185823135-d27cd17f-74bd-4b79-a618-9425106b9b0a.png)
3.Plugin No.2 USB device,VID and PID the same as No.1 device
![image](https://user-images.githubusercontent.com/18573790/185825379-fcde51ab-1c89-4406-9546-ee47f4e388d9.png)

[2022-08-22 02:27] jonasmalacofilho commented on #448
Again, what else did you expect the second screenshot to show?

Your code searches for a device with VID:PID 1a86:5512... and you find one.  So what exactly is wrong there?

[2022-08-22 02:52] jonasmalacofilho commented on #449
PyUSB could indeed benefit from higher level and more (immediately) informative errors, but that's needs to go beyond replacing

[code]

with

[code]

Most errors that a backend may return depend not only on a situation, but also on the backend, platform and kernel/system driver in use.  Not to mention that there are at least 3 different libusb-0.1 implementations...

So a through review of common

[2022-08-22 04:36] SharePlainCSource commented on #448
Sorry my mistake.
I thought the parameter find_all default vale is True.

[2022-08-22 04:36] #448 closed

[2022-08-23 13:43] mcuee commented on #449
Maybe we can fix libusb-1.0 backend first.

For libusb-0.1, indeed it may be more complicated.
* libusb-compat-0.1
* libusb-win32 for Windows
* legacy libusb-0.1

[2022-09-06 15:03] jonasmalacofilho commented on #438
Closing this due to, sadly, a lack of feedback... it seemed that there was indeed something wrong, even if maybe not in PyUSB.

[2022-09-06 15:03] #438 closed

[2022-09-12 08:46] AndyChennnn commented on #290
I have the same problem, how can I solve this problem

[2022-09-16 11:09] premanandaembed opened #456 "dfu device how to get serial number"
i'm not getting serial number while device is dfu mode but normal mode i'm getting serial number.

[2022-09-30 07:27] ronny-rentner opened #458 "Wrong permission error, "Error Accessing String""
Running Debian Linux 11 with Python 3.10 and libusb1. I am trying to connect to an LG UltraFine monitor via USB-C.

It works via lsusb (running as my user):
[code]

but not via pyusb:
[code]

[code]

The device file is world readable.

The strange thing is that pyusb and also lsusb try to open the device with write permissions. I wonder why those are necessary to list something.

I can also do
[co

[2022-09-30 11:52] shuvragood commented on #212
Traceback (most recent call last):
  File "C:\Users\Avinash\Music\Potentiostat_SW_A9\Potentiostat_communication.py", line 80, in usb_read
    usb_input = self.ep_in.read(size, timeout)
  File "C:\Users\Avinash\AppData\Local\Programs\Python\Python310\lib\site-packages\usb\core.py", line 301, in read
    return self.device.read(self.bEndpointAddress, size, self.interface, timeout)
  File "C:\Users\A

[2022-09-30 12:06] mcuee commented on #212
DO NOT use libusb or pyusb with a USB Flash Drive or things like that. It is not meant for that purpose. You NEED to know the communication protocol of the USB devices you want to communicate with.

If not, you have to try reverse engineering.
Example: https://slomkowski.eu/tutorials/eavesdropping-usb-and-writing-driver-in-python/

[2022-10-02 19:57] jonasmalacofilho commented on #458
Write permissions are required because:

- _fetching_ a descriptor like `iManufacturer` requires submitting a control transfer to the device;
- and that, in turn, require suitable permissions, _as specified by the corresponding kernel driver_ (in this case, `usbfs`).[^1]

Regarding why lsusb seems to you to show a bit more information, that is because lsusb can try to use a few different ways to _

[2022-10-02 19:57] #458 closed

[2022-10-03 09:47] shuvragood commented on #314
ERROR: --- Failed to read. ---
Exception in Tkinter callback
Traceback (most recent call last):
  File "C:\Users\Avinash\OneDrive - hyderabad.bits-pilani.ac.in\Desktop\Number Of cycles\Potentiostat_SW_A9\Potentiostat_communication.py", line 80, in usb_read
    usb_input = self.ep_in.read(size, timeout)
  File "C:\Users\Avinash\AppData\Local\Programs\Python\Python310\lib\site-packages\usb\core.py",

[2022-10-03 17:04] jonasmalacofilho commented on #314
@shuvragood,

Please stop

- spamming our issue tracker, especially old/closed issues;
- posting tracebacks without accompanying text and context;
- ignoring our replies

at once.  This is your only warning.

If you want to report a bug _in PyUSB,_ please open a new issue.  On the other hand, if you just want to ask for some help, then use the discussions tab; but first consult our documentation (

[2022-10-04 02:26] ronny-rentner commented on #458
Well, as it seems, when you do `cat /sys/bus/usb/devices/3-6.3/manufacturer` you can also just read the information without write permissions from the kernel, without using usbfs and without using udev. Or who populates `/sys/bus/usb`?

[2022-10-04 15:54] jonasmalacofilho commented on #458
Please send a patch/PR that implements this special case.

The Linux kernel, specifically the USB core.  But I haven't checked whether they might be missing sometimes, you need to check that and handle any cases where they are present in the device, but somehow not in sysfs.

[2022-10-05 07:49] ronny-rentner commented on #458
Well, if you're open to accepting a patch to fix this, I'd be willing to work on it. Can we reopen the ticket for this? It might take a bit as I am also busy with other stuff.

[2022-10-05 07:51] ronny-rentner commented on #458
PS: I would probably not replace any existing logic but just whenever there is "Error Accessing String" do an extra step and try to find the string through /sys/bus/usb
Sounds pretty straight forward to me.

[2022-10-06 16:35] jonasmalacofilho commented on #458
Done, but I also renamed for accuracy.

Actually, it should go in the `Device.manufacturer` and similar properties, not in `Device.__str__` (which may then be reworked to use the new feature).

PyUSB is not a lsusb clone: sure, this feature will improve `Device.__str__`, but it's also necessary (and, arguably, more important) to make the data available for callers using PyUSB for something more th

[2022-10-09 10:57] ronny-rentner commented on #458
Thanks for the direction, will do it like this.

[2022-10-24 09:15] shuvragood commented on #230
Please do compare both. Might be the issue can be identified with USB Time out error .
I am having all code with me (https://drive.google.com/drive/folders/1hKyy2O2HLyh9o4wxKsPFoyXOMyaorkv7)

https://www.duo.uio.no/bitstream/handle/10852/82665/5/Olav-Bjerke---masteroppgave.pdf .

Getting USB Time out error while replicating this into CY8CKIT-059

[2022-10-25 13:14] gauravjagtap123 opened #460 "To control led's of a usb webcam"
Hello everyone,

I am using a usb micrscope and i wanted to control the LED's of the micrscope (it's a usb webcam).
I am uisng wireshark to trace the packets sent to the device but i was unable to locate which command/hex value is being sent to the LED's in order to control it.

It will be really helpful if someone tell me how to find the the exact value that is being sent to the leds of the camer

[2022-10-29 12:43] erikaemma opened #462 "Python3.9: AttributeError: 'array.array' object has no attribute 'fromstring'"
In file `_interop.py`, line 97:

[code]

Please fix it!

[2022-10-29 13:44] erikaemma opened #463 "Why write/read once, I need replug the usb device ?"
I use the bulk endpoint to read/write.
But if I read/write once, when I rerun the script, it will:
[code]

THE FULL CODE:
[code]

[2022-10-30 03:06] jonasmalacofilho commented on #462
Fixed and released nearly two years ago: 4f3322e07fb651da35695f13aca27754ddc0d7b3.

[2022-10-30 03:07] #462 closed

[2022-10-30 03:11] jonasmalacofilho commented on #463
Most likely because your program doesn't comply with the protocol and device specs/requirements (e.g. missing messages or delay).

You could also have hit a firmware bug.

[2022-11-03 22:39] rickwierenga commented on #343
For future readers, using libusbK instead of libusb-win32 fixes the problem for me.

[2022-11-09 10:04] pluto-dev opened #465 "Confusing documentation"
I find the the documentation on how to install libusb on windows very confusing.

[faq](https://github.com/pyusb/pyusb/blob/master/docs/faq.rst#how-do-i-install-libusb-on-windows)

From the text I can't figure out if I should install libusb myself or if the library is enough to get going.

The [`pyocd/libusb-package`_](https://github.com/pyusb/pyusb/blob/master/docs/faq.rst#id5) is just referencin

[2022-11-10 03:44] jonasmalacofilho commented on #465
That link is indeed broken. I'll fix it ASAP.

That's not accurate, they both point to the corresponding footnotes.

[2022-11-10 03:56] #465 closed

[2022-11-10 04:00] jonasmalacofilho commented on #465
Fixed the link, but it seems that GitHub rendering of reStructuredText is broken right now: clicking the correct link results in an error, instead of opening the libusb-package project page (which exists).

![Screenshot from 2022-11-10 00-57-43](https://user-images.githubusercontent.com/1832496/200997423-e9920f1d-4285-4a69-956c-cde5e042ef8c.png)

Hopefully this will get sorted out by itself, soon.

[2022-11-25 15:26] vgegok opened #467 "usb.core.USBError: [Errno None] b'libusb0-dll:err [control_msg] sending control message failed, win error: \xc1\xac\xb5\xbd\xcf\xb5\xcd\xb3\xc9\xcf\xb5\xc4\xc9\xe8\xb1\xb8\xc3\xbb\xd3\xd0\xb7\xa2\xbb\xd3\xd7\xf7\xd3\xc3\xa1\xa3\r\n\n'"
`C:\Users\vgegok>python
Python 3.11.0 (main, Oct 24 2022, 18:26:48) [MSC v.1933 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Users\vgegok\AppData\Local\Programs\Python\Python311\Lib\site-packages\usb\core.py", line 1082, in ctrl_transfer
    ret = self._ctx.backen

[2022-11-25 16:48] jonasmalacofilho commented on #467
Sorry, but (from the little you shared) this doesn't seem to relate to PyUSB: it looks like a backend (libusb0, in this case) or OS error, or perhaps you've got the protocol wrong. Closing.

[2022-11-25 16:48] #467 closed